* {
    font-family: Tahoma;
}

.fa-trash-o  {
    color: red;
}

.temps {
    font-weight: bold;
}

.time {
    font-weight: normal;
}

.city-result {
    box-shadow: 1px 0 18px 3px #D3D3D3;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
}

li {
    list-style: none;
}

.remove-post {
    float: right;
}

.sort-div h4 {
    display: inline-block;
}
